@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
/*
Color Scheme
 green color:#264233;
 light green color:#869486;
 cream color:#ffe3cd;
 blue color:#0f5c95;
 salmon color:#f16c6f;
*/



header {
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering:geometricPrecision;
    position: fixed;
    display: flex;
    height: 7vh;
    padding: 0% 8%;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color:#264233;
    color:#ffe3cd;
    z-index: 10;
    font-family: 'Roboto Mono', monospace;
 }

nav {
    width: 70%;
}

nav ol {
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    margin: none;
}

a {
    color:#ffe3cd;
    text-decoration: none;
}

a:hover {
    color:#f16c6f;
}

section a {
    color:#264233;
}

section a:hover {
    color:#f16c6f;
    
}

body {
    font-smooth: always;
    color:#0f5c95;
    font-family: 'Roboto Mono', monospace;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering:geometricPrecision;
    }


h3 {
    text-align: center;
    padding-bottom: 15px;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering:geometricPrecision;
}

h1 {
    text-align: center;
    padding-bottom: 2vh;
    coloR: black;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering:geometricPrecision;
}

section {
    width: 600px;
    min-height: 50vh;
    margin: 0px;
    padding-top: 11vh;
    padding-bottom: 6vh;
    margin-left: auto;
    margin-right: auto;
}

.light {
    background-color: #ffe3cd;
}

.light_green {
    background-color:#869486;
}

.grey {
    background-color:rgba(0, 0, 0, 0.288);
}

.projects p {
    padding-bottom: 20px;
}

p a {
    color:#264233;
}

p a:hover {
    color:#f16c6f;
}

.contact1 {
    text-align: center;
    margin: 0px;
    margin-left: auto;
    margin-right: auto;
}

.contact2 {
    width: 600px;
    margin: 0px;
    margin-left: auto;
    margin-right: auto;
    min-height: 20vh;
}

.download {
    margin-left: auto;
    margin-right: auto;
}

.check_it_out {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5% 15%;
}

.center {
    margin-left: auto;
    margin-right: auto;
}