@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400&display=swap');

/*
Color Scheme
 green color:#264233;
 light green color:#869486;
 cream color:#ffe3cd;
 blue color:#0f5c95;
 salmon color:#f16c6f;
*/

header {
    position: fixed;
    display: flex;
    height: 7vh;
    padding: 0% 8%;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color:#264233;
    color:#ffe3cd;
    z-index: 10;
    font-family: 'Roboto Mono', monospace;
 }

nav {
    width: 70%;
}

nav ol {
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    margin: none;
}

a {
    color:#ffe3cd;
    text-decoration: none;
}

a:hover {
    color:#f16c6f;
}

section a {
    color:#264233;
}

section a:hover {
    color:#f16c6f;
    
}

body {
    color:#0f5c95;
    font-family: 'Roboto Mono', monospace;
    background-color:#ffe3cd;
}

h4 {
    text-align: center;
    padding-bottom: 15px;
}

h1 {
    text-align: center;
}

section {
    width: 600px;
    min-height: 100vh;
    margin: 0px;
    padding-top: 11vh;
    margin-left: auto;
    margin-right: auto;
}

.projects p {
    padding-bottom: 20px;
}

p a {
    color:#264233;
}

p a:hover {
    color:#f16c6f;
}

.contact {
    width: 600px;
    margin: 0px;
    margin-left: auto;
    margin-right: auto;
}